    .for_slick_slider{
        display: flex;
    }
    .for_slick_slider .items{
        width: 180px;
        height: 220px;
        margin: 50px;
        position: relative;
    }

     .for_slick_slider .text-cards{
         align-content: center;
        position: absolute;
        top: 103%;
        left: 40%;
        color: #ffffff;
     }


    .for_slick_slider .items .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 220px;
        background: rgba(0, 0, 0, 0.64);
    }

    .for_slick_slider .slick-center .overlay{
        opacity: 0;
    }


    .for_slick_slider .items img{
        width: 180px;
        height: 220px;
        transition: all linear .4s;
        transform: scale(1);
    }

    .for_slick_slider .items .text-cards{
        transform: scale(0.8);
    }

    .for_slick_slider .slick-center img{
        transform: scale(1.1);
    }

    .for_slick_slider .slick-center .text-cards{
        margin-top: 10px;
        transform: scale(1);

    }
