
.img-arrows{
  width: 80px;
}

.arrows-banner{
    width:13%;
    height:13%;
}

.arrows-transparent{
    width:80px;
}

.arrows-testimonials{
    width:250% ;
}

.tittle-banner{
    font-size: calc(34px + (60 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    font-weight: bold;
}

.text-banner{
    font-size: calc(34px + (30 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.container-banner{
    padding:2.5rem!important;
}

.tittle-services{
    font-size: 20px;
}

.text-services{
    font-size: 15px;
}



@media only screen and (max-width: 1750px) {
   .container-about{
        top:0%;
        left: 3%;
    }

    .ul-about{
        font-size:30px;
    }

    .container-about-text{
        top: 15px;
        position: relative;
        font-size: 20px;
        left: 30px;
    }

    .nav-li {
        font-size: 16px;
    }


}

@media only screen and (max-width: 1055px) {
    .img-about{
        top: 93px;
    }

    .nav-li{
        margin-left: 0rem!important;
    }

     .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
    }

    .container-about{
        top: 15%;
        left: 3%;
    }

    .ul-about{
        font-size:15px;
    }

    .container-about-text{
        top: 30px;
        position: relative;
        font-size: 15px;
        left: 30px;
    }


}

@media only screen and (max-width: 883px) {
    .img-about{
        top: 165px;
    }

    .container-about{
        top: 5%;
        left: 3%;
    }

    .ul-about{
        font-size:15px;
    }

    .container-about-text{
        top: 30px;
        position: relative;
        font-size: 15px;
        left: 30px;
    }

     .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .img-contact{
        width: 100% !important ;
        height: 700px !important;
    }

    .nav-li {
        font-size: 12px;
    }

}

@media only screen and (max-width: 837px) {
    .img-about{
        top: 189px;
    }
}

@media only screen and (max-width: 768px) {

  .img-arrows{
    width: 40px;
  }
    .arrows-banner{
        width:10% ;
        height:10%;
    }

    .container-banner{
        padding: .1rem!important;
    }

    .tittle-banner{
        font-size: calc(16px + (53 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    }
    .text-banner{
        font-size: calc(12px + (48 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    }

    .arrows-transparent{
        width:60px;
    }

    .tittle-services{
        font-size: calc(20px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    }

    .text-services{
        font-size: calc(14px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
    }

    .arrows-testimonials{
        width:100% ;
    }

    .container-about{
        top: 0%;
        left: 0%;
    }

    .ul-about{
        font-size:12px;
    }

    .container-about-text{
        top:0px;
        position: relative;
        font-size: 12px;
        left: 30px;
    }

    .icon-rounded{
        border-radius: 20px;
        padding: 10px;
        font-size: 10px;
    }

    .text-navbar-top{
        font-size: 12px;
    }


    .img-contact{
        width: 100% !important ;
        height: auto !important;
    }


}

@media only screen and (max-width: 400px) {
    .container-about{
        top: -10%;
        left: -10%;
    }

    .ul-about{
        font-size: 8px;
    }

    .container-about-text{
        top: -35px;
        position: relative;
        font-size: 9px;
        left: 30px;
    }

    .icon-rounded{
        border-radius: 20px;
        padding:8px;
        font-size: 8px;
    }

    .text-navbar-top{
        margin-top: 9px;
        font-size: 8px;
    }

    .icon-custom {
        width: 20px;
        height: 20px;
    }

}

