.nav-top{
    background-color: #000000
}

.icon-rounded{
    border-radius: 50px;
    padding: 10px;
}

.arrow-nav{
    width: 13px;
}

.nav-li{
    margin-left: 1.5rem!important;
    font-size: 18px;
}
 .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .4rem;
    padding-left: .4rem;
}

 .nav-fixed{
    position: fixed;
    top:0%;
    right: 0;
    left: 0;
    z-index: 1030;
     background-color: #ffffff;
}
 .mt-custom{
    margin-top: 9rem!important;
 }

.icon-custom{
    width: 35px;
    height: 35px;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding: 0px;
}
