
.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.linktir{
  box-sizing: border-box;
  width: 100%;
}
#giris{
  background-color:#669AE1;
}
#nasil{
  background-color:#C49CDE;
}
#eklentiler{
  background-color:#DB9DBE;
}
#ornekler{
 background-color:#00716C;
}
#ayrintilar{
  background-color:#FECF71;
}
#digerleri{
  background-color:#FEa171;
}