.content-section-sector{
    background-color: #000000;
}

.content-section-banner {
     background-color: #c9d3f0;
}

.content-section-white{
     background-color: #ffffff;
}
.content-section-purple{
    background: #5d2276;
}