.slide-transparent{
    position: absolute;
    right: 0%;
    left: 8.2%;
    bottom: 0px;
    height: 35%;
    background-color: #343a40;
    opacity: 0.6;
}

.slide-info{
    position: relative;
}

.slide-tittle{
    color: #ffffff;
    font-size: 2.25rem ;
    top: -19px;
    position: relative;
}

.slide-text{
    color: #ffffff;
    font-size: 1rem ;
    top: -19px;
    position: relative;
}

.tittle-info{
    font-size: 55px;
}

.texts-info{
    font-size: 23px;
}

.w-100 {
    width: 100%!important;
}
